#main_div {
	display: grid;
	grid-template-columns: 1fr 5fr;
}
#admin_side_nav {
	background: #8395a7;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}
#admin_side_nav ul {
	display: grid;
	position: fixed;
	width: 15%;
	height: 400px;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	list-style-type: none;
}
#admin_side_nav ul li {
	margin: 0 auto;
}
#admin_side_nav ul li a {
	text-decoration: none;
	font-family: Century Gothic;
	font-size: 20px;
	font-weight: bold;
	transition: background-color 2s ease;
	transition: font-size 0.5s ease;
	background-color: none;
	color: white;
}
#admin_side_nav ul li a:hover {
	font-size: 25px;
	background-color: #73a9ff;
	padding: 5px;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}
#project_form {
	width: 80%;
}
.project_div_form {
	display: grid;
	grid-template-columns: 1fr;
	margin: 20px auto;
	width: 50%;
}
#project_form label {
	margin-bottom: 5px;
	text-align: center;
}
#project_form input[type=text] {
	padding: 10px;
	width: 100%;
	height: 30px;
	font-size: 12px;
}
#project_form button {
	width: 100%;
	height: 40px;
	font-size: 12px;
}
.error_message {
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	background: #ff7675;
}